body {
	margin: 0;
	background-color: #eaeaea;
}
article:hover {
	transform: scale(0.9);
}
article {
	transition-duration: 0.8s;
}

.travelBlocks {
	grid-area: travel;
}
.leisureBlocks {
	grid-area: leisure;
}
.deliveryBlocks {
	grid-area: delivery;
}
.collectionBlocks {
	grid-area: collection;
}
.newsBlocks {
	grid-area: news;
	place-self: end;
}
.digestBlocks {
	grid-area: digest;
}
.blocks7 {
	grid-area: blocks7;
}
.archiBeachBlocks {
	grid-area: archi;
}
.travelLeisureBlocks {
	grid-area: TL;
}
.greeneryBlocks {
	grid-area: greenery;
}
.beachBlocks {
	grid-area: beach;
}
.vrBlocks {
	grid-area: vr;
}
.designBlocks {
	grid-area: design;
}
.nytBlocks {
	grid-area: nyt;
}
.slider {
	grid-area: slider;
}

#root {
	display: grid;
	grid-template-areas:
		'travel leisure leisure'
		'delivery delivery delivery'
		'collection collection collection'
		'slider slider news'
		'slider slider news'
		'blocks7 blocks7 news'
		'archi TL news'
		'greenery digest nyt'
		'beach digest nyt'
		'vr digest nyt'
		'vr digest nyt'
		'design digest nyt';
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 2em;
	row-gap: 2em;
	column-gap: 2em;
}
