.leisureBlocks {
	display: grid;
}
.leisureBlock {
	display: grid;
	grid-template-columns: 1fr 1.3fr;
	align-items: center;
	border-radius: 10px;
	padding: 1.8em;
}
.leisureBlock__container {
	display: grid;
}
.leisureBlock_imageContainer {
	display: flex;
	justify-content: flex-start;
}
.leisureBlock__category {
	place-self: end;
	background-color: #005aee;
	color: #fff;
	margin: 0;
	padding: 0.6em 1.2em;
	border-radius: 14px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.7em;
}
.leisureBlock__image {
	border-radius: 10px;
	margin-right: 1.5em;
	height: 100%;
}
.leisureBlock__title {
	font-size: 3.2em;
	margin: 0;
	padding-top: 0.1em;
	padding-bottom: 0.2em;
}
.leisureBlock__description {
	font-size: 1em;
	margin-top: 0.2em;
	margin-right: 4em;
	line-height: 1.5em;
	color: #7b8591;
}
