.leisureBlocks {
	display: grid;
	place-content: center;
	grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
	grid-gap: 1.5em;
	padding: 1em 2em;
}
.leisureBlock {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	border-radius: 10px;
	padding: 1.8em;
}
.leisureBlock__container {
	display: grid;
}
.leisureBlock_imageContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 0.6em;
}
.leisureBlock__category {
	place-self: end;
	background-color: #005aee;
	color: #fff;
	margin: 0;
	padding: 0.6em 1.2em;
	border-radius: 14px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.7em;
}
.leisureBlock__image {
	border-radius: 10px;
}
.leisureBlock__title {
	font-size: 1.7em;
	margin: 0;
	padding-top: 0.6em;
	padding-bottom: 0.4em;
}
.leisureBlock__description {
	font-size: 1em;

	margin-top: 0.2em;

	color: #767575;
}
