.travelBlocks {
	display: grid;
}
.travelBlock {
	border-radius: 10px;
}
.travelBlock__category {
	color: #33439b;
	margin-bottom: 0;
	padding-left: 1.3em;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.7em;
}
.travelBlock__image {
	border-radius: 10px 10px 0 0;
	place-self: start;
	width: 100%;
	background-size: cover;
}
.travelBlock__title {
	margin: 0;
	padding-left: 0.9em;
	padding-top: 0.6em;
	padding-bottom: 0.4em;
}
.travelBlock__description {
	font-size: 1em;
	margin-bottom: 1em;
	margin-top: 0.2em;
	padding-left: 1em;
	padding-right: 2em;
	line-height: 1.5em;
	color: #7b8591;
}
