.vrBlocks {
	display: grid;
	background-color: #fff;
}
.vrBlock {
	border-radius: 10px;
	display: grid;
	grid-template-rows: 1fr 2fr 2fr 2fr;
	height: 372px;
}
.vrBlock__mark {
	grid-area: 1/1/-1/-1;
	justify-self: end;
	margin-right: 0.5em;
}
.vrBlock__image {
	border-radius: 10px;
	width: 100%;
	background-size: cover;
	grid-area: 2/1/-1/-1;
	height: 100%;
}

.vrBlock__title {
	margin: 0;
	text-align: center;
	font-size: 2em;
	grid-area: 1/1/-1/-1;
	margin-top: 0.2em;
}
.vrBlock__description {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 1em 1.5em;
	color: #fff;
	grid-area: 3/1/-1/-1;
	place-self: end;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
}
